<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdfg.thdfhcl.dao.CheckpackbillDao">

  <insert id="insert" parameterType="java.util.List">
    insert into CHECKPACKBILL (BILL_NO,BILL_TYPE,CPB_OPERATOR,CPB_FLAG,CPB_DATE,CPB_REMARK,CREAT_DATE,UPDATE_DATE)
    select t.* from (
    <foreach collection="list" item="cpbDto" index="index" separator="UNION ALL">
      select
        #{cpbDto.billNo,jdbcType=VARCHAR},
        #{cpbDto.billType,jdbcType=VARCHAR},
        #{cpbDto.cpbOperator,jdbcType=VARCHAR},
        #{cpbDto.cpbFlag,jdbcType=VARCHAR},
        #{cpbDto.cpbDate,jdbcType=TIMESTAMP},
        #{cpbDto.cpbRemark,jdbcType=VARCHAR},
        #{cpbDto.creatDate,jdbcType=TIMESTAMP},
        #{cpbDto.updateDate,jdbcType=TIMESTAMP}
      from dual
    </foreach>
    )t
  </insert>
</mapper>