<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdfg.thdfhcl.dao.CustlocnoDao">

  <select id="selectByPrimaryKey" statementType="CALLABLE" resultType="java.util.Map">
    {CALL if_thdfhcl.qry_zxd
        (#{billNO,mode=IN,jdbcType=VARCHAR},
        #{shcustpass,mode=OUT,jdbcType=VARCHAR},
        #{shname,mode=OUT,jdbcType=VARCHAR},
        #{shdpttime,mode=OUT,jdbcType=TIMESTAMP},
        #{shdptairline,mode=OUT,jdbcType=VARCHAR},
        #{shdthdd,mode=OUT,jdbcType=VARCHAR},
        #{shfhbillno,mode=OUT,jdbcType=VARCHAR},
        #{sl,mode=OUT,jdbcType=INTEGER},
        #{shelfnos,mode=OUT,jdbcType=VARCHAR}
        )}
  </select>

  <insert id="insert" parameterType="java.util.List" useGeneratedKeys="false">
      MERGE INTO CUSTLOCNO T
      USING(
        <foreach collection="list" item="item" index="index" separator="UNION ALL">
          select
          #{item.custpass,jdbcType=VARCHAR} custpass,
          #{item.shelfno,jdbcType=VARCHAR} shelfno,
          #{item.flag,jdbcType=CHAR} flag,
          #{item.operno,jdbcType=VARCHAR} operno,
          #{item.opertime,jdbcType=TIMESTAMP} opertime,
          #{item.thdd,jdbcType=VARCHAR} thdd
          from dual
        </foreach>)T1
      ON (T.custpass = T1.custpass and T.SHELFNO = T1.shelfno)
      WHEN MATCHED THEN
      UPDATE SET T.opertime = T1.opertime
      WHEN NOT MATCHED THEN
      INSERT(CLNSEQ,CUSTPASS, SHELFNO, FLAG,OPERNO, OPERTIME, THDD)
      VALUES (SEQ_CUSTLOC.nextval, T1.custpass, T1.shelfno, T1.flag, T1.operno, T1.opertime, T1.thdd)
  </insert>
</mapper>