<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdfg.thdfhcl.dao.CustPickDao">
    <select id="qryCustPickInfo" statementType="CALLABLE" resultType="java.util.Map">
       {CALL if_thdgkth.qry_custbill
        (#{cardId,mode=IN,jdbcType=VARCHAR},
        #{userName,mode=OUT,jdbcType=VARCHAR},
        #{userId,mode=OUT,jdbcType=VARCHAR},
        #{flightNum,mode=OUT,jdbcType=VARCHAR},
        #{flightTime,mode=OUT,jdbcType=VARCHAR},
        #{flightAddress,mode=OUT,jdbcType=VARCHAR},
        #{fhNum,mode=OUT,jdbcType=VARCHAR},
        #{pickBillCnt,mode=OUT,jdbcType=INTEGER},
        #{flightFlag,mode=OUT,jdbcType=VARCHAR},
        #{shelfnos,mode=OUT,jdbcType=VARCHAR},
        #{shRc,mode=OUT,jdbcType=CURSOR,javaType=java.sql.ResultSet,resultMap=SellBillEntity},
        #{addressname,mode=OUT,jdbcType=VARCHAR}
        )}
    </select>
    <resultMap type="com.cdfg.thdfhcl.pojo.until.SellBillEntity" id="SellBillEntity">
        <result column="market" property="market"/>
        <result column="billNo" property="billNo"/>
        <result column="flightNo" property="flightNo"/>
        <result column="status" property="status"/>
        <result column="ldrq" property="ldrq"/>
    </resultMap>

    <select id="updateModifyFlight" statementType="CALLABLE" resultType="java.util.Map">
       {CALL if_thdgkth.modifyflight
        (#{market,mode=IN,jdbcType=VARCHAR},
        #{cardId,mode=IN,jdbcType=VARCHAR},
        #{new_flightNum,mode=IN,jdbcType=VARCHAR},
        #{new_flightTime,mode=IN,jdbcType=VARCHAR},
        #{old_flightNum,mode=IN,jdbcType=VARCHAR},
        #{old_flightTime,mode=IN,jdbcType=VARCHAR},
        #{xsdno,mode=IN,jdbcType=VARCHAR},
        #{operator,mode=IN,jdbcType=VARCHAR}
        )}
    </select>

    <select id="cusnPick" statementType="CALLABLE" resultType="java.util.Map">
       {CALL if_thdgkth.custpick
        (#{market,mode=IN,jdbcType=VARCHAR},
        #{flightNum,mode=IN,jdbcType=VARCHAR},
        #{flightTime,mode=IN,jdbcType=VARCHAR},
        #{xsdno,mode=IN,jdbcType=VARCHAR},
        #{cardId,mode=IN,jdbcType=VARCHAR},
        #{ticketCode,mode=IN,jdbcType=VARCHAR},
        #{operator,mode=IN,jdbcType=VARCHAR},
        #{retflag,mode=OUT,jdbcType=VARCHAR},
        #{retmsg,mode=OUT,jdbcType=VARCHAR}
        )}
    </select>

    <select id="qryScanDjp" statementType="CALLABLE" resultType="java.util.Map">
       {CALL if_thdgkth.qry_scandjp
        (#{flightNo,mode=IN,jdbcType=VARCHAR},
        #{ldrq,mode=IN,jdbcType=VARCHAR},
        #{xsdno,mode=IN,jdbcType=VARCHAR},
        #{retflag,mode=OUT,jdbcType=VARCHAR},
        #{retmsg,mode=OUT,jdbcType=VARCHAR}
        )}
    </select>

    <resultMap id="BaseResultMap" type="com.cdfg.thdfhcl.pojo.until.ThddEntity">
        <result column="fnumber" jdbcType="VARCHAR" property="flightNo" />
        <result column="fport1" jdbcType="VARCHAR" property="thdd" />
        <result column="thsp" jdbcType="VARCHAR" property="thddName" />
    </resultMap>

    <select id="qryThdd" parameterType="java.lang.String" resultMap="BaseResultMap">
       select ft.fnumber,ft.fport1,tt.thsp from flights ft,dbusrpos.TOURIST_THPLACE tt
       where fnumber = #{flightNo,jdbcType=VARCHAR}
         and tt.thbillno = ft.fport1
    </select>

</mapper>