<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdfg.thdfhcl.dao.CustlocnoDao">

  <select id="selectByPrimaryKey" statementType="CALLABLE" resultType="java.util.Map">
    {CALL if_thdfhcl.qry_zxd
        (#{billNO,mode=IN,jdbcType=VARCHAR},
        #{shcustpass,mode=OUT,jdbcType=VARCHAR},
        #{shname,mode=OUT,jdbcType=VARCHAR},
        #{shdpttime,mode=OUT,jdbcType=TIMESTAMP},
        #{shdptairline,mode=OUT,jdbcType=VARCHAR},
        #{shdthdd,mode=OUT,jdbcType=VARCHAR},
        #{shfhbillno,mode=OUT,jdbcType=VARCHAR},
        #{sl,mode=OUT,jdbcType=INTEGER},
        #{shelfnos,mode=OUT,jdbcType=VARCHAR}
        )}
  </select>

  <insert id="insert" parameterType="java.util.List" useGeneratedKeys="false">
    insert into CUSTLOCNO (CLNSEQ,CUSTPASS, SHELFNO, FLAG,
      OPERNO, OPERTIME, THDD
      )
    select SEQ_CUSTLOC.nextval,cd.* from(
      <foreach collection="list" item="item" index="index" separator="UNION ALL">
        select
          #{item.custpass,jdbcType=VARCHAR},
          #{item.shelfno,jdbcType=VARCHAR},
          #{item.flag,jdbcType=CHAR},
          #{item.operno,jdbcType=VARCHAR},
          #{item.opertime,jdbcType=TIMESTAMP},
          #{item.thdd,jdbcType=VARCHAR}
          from dual
      </foreach>
      ) cd
  </insert>
</mapper>