<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdfg.thdfhcl.dao.FjcHoldByDateDao">
    <select id="qryXsdBill" statementType="CALLABLE" resultType="java.util.Map">
       {CALL if_thdfhcl.qry_xsdbill
        (#{billNO,mode=IN,jdbcType=VARCHAR},
        #{mark,mode=IN,jdbcType=VARCHAR},
        #{zcrq,mode=IN,jdbcType=VARCHAR},
        #{zcsdid,mode=IN,jdbcType=VARCHAR},
        #{thdd,mode=IN,jdbcType=VARCHAR},
        #{xsdno,mode=OUT,jdbcType=VARCHAR},
        #{status,mode=OUT,jdbcType=VARCHAR},
        #{ljtime,mode=OUT,jdbcType=TIMESTAMP},
        #{ret_flag,mode=OUT,jdbcType=VARCHAR}
        )}
    </select>

    <select id="insertDts" statementType="CALLABLE" resultType="java.util.Map">
    {CALL if_thdfhcl.update_rqzc
        (#{billNO,mode=IN,jdbcType=VARCHAR},
        #{mark,mode=IN,jdbcType=VARCHAR},
        #{operator,mode=IN,jdbcType=VARCHAR},
        #{zcrq,mode=IN,jdbcType=VARCHAR},
        #{zcsdid,mode=IN,jdbcType=VARCHAR},
        #{OUT_FHDH,mode=OUT,jdbcType=VARCHAR},
        #{OUT_FLAG,mode=OUT,jdbcType=VARCHAR},
        #{OUT_MSG,mode=OUT,jdbcType=VARCHAR},
        #{o_TmpCode,mode=OUT,jdbcType=VARCHAR}
        )}
  </select>

  <select id="qryZcsd" statementType="CALLABLE" resultType="java.util.Map">
    {CALL if_thdfhcl.qry_zcinfo
        (#{billNO,mode=IN,jdbcType=VARCHAR},
        #{mark,mode=OUT,jdbcType=VARCHAR},
        #{zcrq,mode=OUT,jdbcType=VARCHAR},
        #{zcsdid,mode=OUT,jdbcType=VARCHAR},
        #{zcsdname,mode=OUT,jdbcType=VARCHAR},
        #{thdd,mode=OUT,jdbcType=VARCHAR},
        #{xsdno,mode=OUT,jdbcType=VARCHAR},
        #{ret_flag,mode=OUT,jdbcType=VARCHAR}
        )}
  </select>

  <select id="thdfjgl" statementType="CALLABLE" resultType="java.util.Map">
    {CALL if_thdfhcl.thdfjgl
        (#{billNO,mode=IN,jdbcType=VARCHAR},
        #{mark,mode=IN,jdbcType=VARCHAR},
        #{operator,mode=IN,jdbcType=VARCHAR},
        #{thdd,mode=OUT,jdbcType=VARCHAR},
        #{xsdno,mode=OUT,jdbcType=VARCHAR},
        #{status,mode=OUT,jdbcType=VARCHAR},
        #{ljtime,mode=OUT,jdbcType=VARCHAR},
        #{isth,mode=OUT,jdbcType=VARCHAR},
        #{isjj,mode=OUT,jdbcType=VARCHAR},
        #{thfs,mode=OUT,jdbcType=VARCHAR},
        #{ret_flag,mode=OUT,jdbcType=VARCHAR},
        #{ret_msg,mode=OUT,jdbcType=VARCHAR}
        )}
  </select>
</mapper>