<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdfg.thdfhcl.dao.JcHoldByDateDao">

   <select id="insertDts" statementType="CALLABLE" resultType="java.util.Map">
    {CALL if_deptinfo.update_zxd
        (#{billNO,mode=IN,jdbcType=VARCHAR},
        #{operator,mode=IN,jdbcType=VARCHAR},
        #{yysj,mode=IN,jdbcType=DATE},
        #{market,mode=IN,jdbcType=VARCHAR},
        #{tmpCode,mode=IN,jdbcType=VARCHAR},
        #{qhdd,mode=IN,jdbcType=VARCHAR},
        #{o_TmpCode,mode=OUT,jdbcType=VARCHAR},
        #{o_billno,mode=OUT,jdbcType=VARCHAR},
        #{o_isth,mode=OUT,jdbcType=VARCHAR}
        )}
  </select>

  <select id="qryCheckBill" statementType="CALLABLE" resultType="java.util.Map">
    {CALL if_deptinfo.qry_zcxsd
        (#{yysj,mode=IN,jdbcType=DATE},
        #{market,mode=IN,jdbcType=VARCHAR},
        #{qhdd,mode=IN,jdbcType=VARCHAR},
        #{zctype,mode=IN,jdbcType=VARCHAR},
        #{operator,mode=IN,jdbcType=VARCHAR},
        #{ret_flag,mode=OUT,jdbcType=VARCHAR},
        #{zcRc,mode=OUT,jdbcType=CURSOR,javaType=java.sql.ResultSet,resultMap=JcXsdbillEntity}
        )}
    </select>

    <resultMap type="com.cdfg.thdfhcl.pojo.until.JcXsdbillEntity" id="JcXsdbillEntity">
        <result column="xsdno" property="xsdno"/>
        <result column="yysj" property="yysj"/>
        <result column="qhdd" property="qhdd"/>
        <result column="market" property="market"/>
        <result column="isth" property="isth"/>
        <result column="zxdh" property="zxdh"/>
        <result column="status" property="status"/>
        <result column="gwkh" property="gwkh"/>
        <result column="name" property="name"/>
    </resultMap>

    <select id="qryJcThBill" statementType="CALLABLE" resultType="java.util.Map">
    {CALL if_deptinfo.qry_JcThBill
        (#{market,mode=IN,jdbcType=VARCHAR},
        #{operator,mode=IN,jdbcType=VARCHAR},
        #{ret_flag,mode=OUT,jdbcType=VARCHAR},
        #{thRc,mode=OUT,jdbcType=CURSOR,javaType=java.sql.ResultSet,resultMap=JcXsdbillEntity}
        )}
    </select>

    <select id="updateJcTh" statementType="CALLABLE" resultType="java.util.Map">
    {CALL if_deptinfo.update_JcTh
        (#{market,mode=IN,jdbcType=VARCHAR},
        #{xsdno,mode=IN,jdbcType=VARCHAR},
        #{operator,mode=IN,jdbcType=VARCHAR},
        #{ret_flag,mode=OUT,jdbcType=VARCHAR},
        #{ret_msg,mode=OUT,jdbcType=VARCHAR}
        )}
  </select>

</mapper>