<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdfg.thdfhcl.dao.ThduserDao">
  <resultMap id="BaseResultMap" type="com.cdfg.thdfhcl.pojo.dto.ThduserDto">
    <id column="USER_ID" jdbcType="VARCHAR" property="userId" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="THD_ADDRESS" jdbcType="VARCHAR" property="thdAddress" />
    <result column="PASS_WORD" jdbcType="VARCHAR" property="passWord" />
    <result column="CREAT_TIME" jdbcType="TIMESTAMP" property="creatTime" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    USER_ID, USER_NAME, THD_ADDRESS, PASS_WORD, CREAT_TIME, UPDATE_TIME, "STATUS"
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from THDUSER
    where USER_ID = #{userId,jdbcType=VARCHAR}
      and PASS_WORD = #{passWord,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from THDUSER
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" keyColumn="USER_ID" keyProperty="userId" parameterType="com.cdfg.thdfhcl.pojo.dto.ThduserDto" useGeneratedKeys="true">
    insert into THDUSER (USER_NAME, THD_ADDRESS, PASS_WORD, 
      CREAT_TIME, UPDATE_TIME, "STATUS"
      )
    values (#{userName,jdbcType=VARCHAR}, #{thdAddress,jdbcType=VARCHAR}, #{passWord,jdbcType=VARCHAR}, 
      #{creatTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="USER_ID" keyProperty="userId" parameterType="com.cdfg.thdfhcl.pojo.dto.ThduserDto" useGeneratedKeys="true">
    insert into THDUSER
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        USER_NAME,
      </if>
      <if test="thdAddress != null">
        THD_ADDRESS,
      </if>
      <if test="passWord != null">
        PASS_WORD,
      </if>
      <if test="creatTime != null">
        CREAT_TIME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="status != null">
        "STATUS",
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="thdAddress != null">
        #{thdAddress,jdbcType=VARCHAR},
      </if>
      <if test="passWord != null">
        #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null">
        #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cdfg.thdfhcl.pojo.dto.ThduserDto">
    update THDUSER
    <set>
      <if test="userName != null">
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="thdAddress != null">
        THD_ADDRESS = #{thdAddress,jdbcType=VARCHAR},
      </if>
      <if test="passWord != null">
        PASS_WORD = #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="creatTime != null">
        CREAT_TIME = #{creatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        "STATUS" = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cdfg.thdfhcl.pojo.dto.ThduserDto">
    update THDUSER
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      THD_ADDRESS = #{thdAddress,jdbcType=VARCHAR},
      PASS_WORD = #{passWord,jdbcType=VARCHAR},
      CREAT_TIME = #{creatTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      "STATUS" = #{status,jdbcType=VARCHAR}
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>